.container{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Note{
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.input-group{
  margin-bottom: 20px;
}

label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='text'],
textarea,
input[type='file'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea{
  height: 150px;
}

.note-card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-card .card-body {
  padding: 20px;
}

.note-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.note-card .card-text {
  color: #666;
  margin-top: 10px;
}

.note-card .btn {
  margin-top: 10px;
}
